
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'taskedit.css' %}">
    <title>Document</title>
</head>
<body>
 <div class="editbox">
<div class="header">
<a href="/"><img class="back" src="{% static 'arrow.png' %}" alt=""></a>
<h3>Editar tarefa</h3>

</div>
<form method="POST" action="">

    {% csrf_token %}

    {{form.title}}

    <input class="add" type="submit" value="Pronto">
</form>

</div>   
</body>
</html>


